**This notebook is an exercise in the [Advanced SQL](https://www.kaggle.com/learn/advanced-sql) course.  You can reference the tutorial at [this link](https://www.kaggle.com/alexisbcook/joins-and-unions).**

---

# Introduction

Here, you'll use different types of SQL **JOINs** to answer questions about the [Stack Overflow](https://www.kaggle.com/stackoverflow/stackoverflow) dataset.

Before you get started, run the following cell to set everything up.

The code cell below fetches the `posts_questions` table from the `stackoverflow` dataset.  We also preview the first five rows of the table.

In [2]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client("my-project-09012023-397714")

# Construct a reference to the "stackoverflow" dataset
dataset_ref = client.dataset("stackoverflow", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

# Construct a reference to the "posts_questions" table
table_ref = dataset_ref.table("posts_questions")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the table
questions = client.list_rows(table, max_results=5).to_dataframe()

In [18]:
questions

,id,title,body,accepted_answer_id,answer_count,comment_count,community_owned_date,creation_date,favorite_count,last_activity_date,last_edit_date,last_editor_display_name,last_editor_user_id,owner_display_name,owner_user_id,parent_id,post_type_id,score,tags,view_count
0,320268,Html.ActionLink doesn’t render # properly,<p>When using Html.ActionLink passing a string...,<NA>,0,0,NaT,2008-11-26 10:42:37.477000+00:00,0,2009-02-06 20:13:54.370000+00:00,NaT,None,<NA>,Paulo,<NA>,None,1,0,asp.net-mvc,390
1,324003,Primitive recursion,<p>how will i define the function 'simplify' ...,<NA>,0,0,NaT,2008-11-27 15:12:37.497000+00:00,0,2012-09-25 19:54:40.597000+00:00,2012-09-25 19:54:40.597000+00:00,Marcin,1288,None,41000,None,1,0,haskell|lambda|functional-programming|lambda-c...,497
2,390605,While vs. Do While,<p>I've seen both the blocks of code in use se...,390608,0,0,NaT,2008-12-24 01:49:54.230000+00:00,2,2008-12-24 03:08:55.897000+00:00,NaT,None,<NA>,Unkwntech,115,None,1,0,language-agnostic|loops,11262
3,413246,Protect ASP.NET Source code,<p>Im currently doing some research in how to ...,<NA>,0,0,NaT,2009-01-05 14:23:51.040000+00:00,0,2009-03-24 21:30:22.370000+00:00,2009-01-05 14:42:28.257000+00:00,Tom Anderson,13502,Velnias,<NA>,None,1,0,asp.net|deployment|obfuscation,4823
4,454921,"Difference between ""int[] myArray"" and ""int my...",<blockquote>\n <p><strong>Possible Duplicate:...,454928,0,0,NaT,2009-01-18 10:22:52.177000+00:00,0,2009-01-18 10:30:50.930000+00:00,2017-05-23 11:49:26.567000+00:00,None,-1,Evan Fosmark,49701,None,1,0,java|arrays,798

We also take a look at the `posts_answers` table.

In [4]:
# Construct a reference to the "posts_questions" table
table_ref = dataset_ref.table("posts_answers")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the table
answers = client.list_rows(table, max_results=5).to_dataframe()

In [19]:
answers

,id,title,body,accepted_answer_id,answer_count,comment_count,community_owned_date,creation_date,favorite_count,last_activity_date,last_edit_date,last_editor_display_name,last_editor_user_id,owner_display_name,owner_user_id,parent_id,post_type_id,score,tags,view_count
0,18,None,<p>For a table like this:</p>\n\n<pre><code>CR...,None,None,2,NaT,2008-08-01 05:12:44.193000+00:00,None,2016-06-02 05:56:26.060000+00:00,2016-06-02 05:56:26.060000+00:00,Jeff Atwood,126039,phpguy,<NA>,17,2,59,None,None
1,165,None,"<p>You can use a <a href=""http://sharpdevelop....",None,None,0,NaT,2008-08-01 18:04:25.023000+00:00,None,2019-04-06 14:03:51.080000+00:00,2019-04-06 14:03:51.080000+00:00,None,1721793,user2189331,<NA>,145,2,10,None,None
2,1028,None,<p>The VB code looks something like this:</p>\...,None,None,0,NaT,2008-08-04 04:58:40.300000+00:00,None,2013-02-07 13:22:14.680000+00:00,2013-02-07 13:22:14.680000+00:00,None,395659,user2189331,<NA>,947,2,8,None,None
3,1073,None,<p>My first choice would be a dedicated heap t...,None,None,0,NaT,2008-08-04 07:51:02.997000+00:00,None,2015-09-01 17:32:32.120000+00:00,2015-09-01 17:32:32.120000+00:00,None,45459,user2189331,<NA>,1069,2,29,None,None
4,1260,None,<p>I found the answer. all you have to do is a...,None,None,0,NaT,2008-08-04 14:06:02.863000+00:00,None,2016-12-20 08:38:48.867000+00:00,2016-12-20 08:38:48.867000+00:00,None,1221571,Jin,<NA>,1229,2,1,None,None

You will work with both of these tables to answer the questions below.

# Exercises

### 1) How long does it take for questions to receive answers?

You're interested in exploring the data to have a better understanding of how long it generally takes for questions to receive answers.  Armed with this knowledge, you plan to use this information to better design the order in which questions are presented to Stack Overflow users.

With this goal in mind, you write the query below, which focuses on questions asked in January 2018.  It returns a table with two columns:
- `q_id` - the ID of the question
- `time_to_answer` - how long it took (in seconds) for the question to receive an answer

Run the query below (without changes), and take a look at the output.

In [6]:
first_query = """
              SELECT q.id AS q_id,
                  MIN(TIMESTAMP_DIFF(a.creation_date, q.creation_date, SECOND)) as time_to_answer
              FROM `bigquery-public-data.stackoverflow.posts_questions` AS q
                  INNER JOIN `bigquery-public-data.stackoverflow.posts_answers` AS a
              ON q.id = a.parent_id
              WHERE q.creation_date >= '2018-01-01' and q.creation_date < '2018-02-01'
              GROUP BY q_id
              ORDER BY time_to_answer
              """

first_result = client.query(first_query).result().to_dataframe()
print("Percentage of answered questions: %s%%" % \
      (sum(first_result["time_to_answer"].notnull()) / len(first_result) * 100))
print("Number of questions:", len(first_result))
first_result.head()

Percentage of answered questions: 100.0%
Number of questions: 134719

       q_id  time_to_answer
0  48382183      -132444692
1  48092360               0
2  48210143               0
3  48451642               0
4  48091268               0

You're surprised at the results and strongly suspect that something is wrong with your query.  In particular,
- According to the query, 100% of the questions from January 2018 received an answer.  But, you know that ~80% of the questions on the site usually receive an answer.
- The total number of questions is surprisingly low.  You expected to see at least 150,000 questions represented in the table.

Given these observations, you think that the type of **JOIN** you have chosen has inadvertently excluded unanswered questions.  Using the code cell below, can you figure out what type of **JOIN** to use to fix the problem so that the table includes unanswered questions?

**Note**: You need only amend the type of **JOIN** (i.e., **INNER**, **LEFT**, **RIGHT**, or **FULL**) to answer the question successfully.

In [8]:
# Your code here
correct_query = """
              SELECT q.id AS q_id,
                  MIN(TIMESTAMP_DIFF(a.creation_date, q.creation_date, SECOND)) as time_to_answer
              FROM `bigquery-public-data.stackoverflow.posts_questions` AS q
                  LEFT JOIN `bigquery-public-data.stackoverflow.posts_answers` AS a
              ON q.id = a.parent_id
              WHERE q.creation_date >= '2018-01-01' and q.creation_date < '2018-02-01'
              GROUP BY q_id
              ORDER BY time_to_answer
                """
### NOTE here q.creation_date >= '2018-01-01' and q.creation_date < '2018-02-01'


# Run the query, and return a pandas DataFrame
correct_result = client.query(correct_query).result().to_dataframe()
print("Percentage of answered questions: %s%%" % \
      (sum(correct_result["time_to_answer"].notnull()) / len(correct_result) * 100))
print("Number of questions:", len(correct_result))

Percentage of answered questions: 83.3368387192557%
Number of questions: 161656

### 2) Initial questions and answers, Part 1

You're interested in understanding the initial experiences that users typically have with the Stack Overflow website.  Is it more common for users to first ask questions or provide answers?  After signing up, how long does it take for users to first interact with the website?  To explore this further, you draft the (partial) query in the code cell below.

The query returns a table with three columns:
- `owner_user_id` - the user ID
- `q_creation_date` - the first time the user asked a question 
- `a_creation_date` - the first time the user contributed an answer 

You want to keep track of users who have asked questions, but have yet to provide answers.  And, your table should also include users who have answered questions, but have yet to pose their own questions.  

With this in mind, please fill in the appropriate **JOIN** (i.e., **INNER**, **LEFT**, **RIGHT**, or **FULL**) to return the correct information.  

**Note**: You need only fill in the appropriate **JOIN**.  All other parts of the query should be left as-is.  (You also don't need to write any additional code to run the query, since the `check()` method will take care of this for you.)

To avoid returning too much data, we'll restrict our attention to questions and answers posed in January 2019.  We'll amend the timeframe in Part 2 of this question to be more realistic!

In [22]:
# Your code here
q_and_a_query = """
                SELECT q.owner_user_id AS owner_user_id,
                    MIN(q.creation_date) AS q_creation_date,
                    MIN(a.creation_date) AS a_creation_date
                FROM `bigquery-public-data.stackoverflow.posts_questions` AS q
                    FULL JOIN `bigquery-public-data.stackoverflow.posts_answers` AS a
                ON q.owner_user_id = a.owner_user_id 
                WHERE q.creation_date >= '2019-01-01' AND q.creation_date < '2019-02-01' 
                    AND a.creation_date >= '2019-01-01' AND a.creation_date < '2019-02-01'
                GROUP BY owner_user_id
                """
q_and_a_result = client.query(q_and_a_query).result().to_dataframe()
q_and_a_result

,owner_user_id,q_creation_date,a_creation_date
0,10878055,2019-01-07 08:56:12.677000+00:00,2019-01-18 06:42:18.320000+00:00
1,1533670,2019-01-02 12:10:48.510000+00:00,2019-01-20 19:04:46.230000+00:00
2,4975172,2019-01-02 14:45:45.620000+00:00,2019-01-03 13:14:11.207000+00:00
3,8975847,2019-01-13 07:37:11.713000+00:00,2019-01-14 05:31:07.243000+00:00
4,7058128,2019-01-07 16:44:26.667000+00:00,2019-01-08 08:34:23.643000+00:00
...,...,...,...
21518,8065832,2019-01-23 11:37:46.363000+00:00,2019-01-03 22:22:22.910000+00:00
21519,9302511,2019-01-22 17:35:44.670000+00:00,2019-01-22 17:22:48.167000+00:00
21520,10835637,2019-01-27 14:02:58.580000+00:00,2019-01-27 13:41:45.857000+00:00
21521,4007300,2019-01-27 09:25:19.837000+00:00,2019-01-28 06:14:21.113000+00:00
21522,491754,2019-01-26 00:13:21.793000+00:00,2019-01-28 21:15:01.470000+00:00

In [32]:
print('For questions and answers posted only in January 2019:')
print(f"There are {q_and_a_result.shape[0]} users posted questions and answers")

For questions and answers posted only in January 2019:
There are 21523 users posted questions and answers

### 3) Initial questions and answers, Part 2

Now you'll address a more realistic (and complex!) scenario.  To answer this question, you'll need to pull information from *three* different tables!  This syntax very similar to the case when we have to join only two tables.  For instance, consider the three tables below.

![three tables](https://storage.googleapis.com/kaggle-media/learn/images/OyhYtD1.png)

We can use two different **JOINs** to link together information from all three tables, in a single query.

![double join](https://storage.googleapis.com/kaggle-media/learn/images/G6buS7P.png)

`Note here, first is full join between pet and owner on id columns. Get all id in both table, then use left join with treat table, so the final result's id is the id after full join. That means after full join, p.id and o.pet_id have changed to id after full join, NOT original p.id or o.pet_id.`
 
`i.e. the p.id after full join is NOT SAME AS p.id after left join.`

With this in mind, say you're interested in understanding users who joined the site in January 2019.  You want to track their activity on the site: when did they post their first questions and answers, if ever?

Write a query that returns the following columns:
- `id` - the IDs of all users who created Stack Overflow accounts in January 2019 (January 1, 2019, to January 31, 2019, inclusive)
- `q_creation_date` - the first time the user posted a question on the site; if the user has never posted a question, the value should be null
- `a_creation_date` - the first time the user posted a question on the site; if the user has never posted a question, the value should be null

Note that questions and answers posted after January 31, 2019, should still be included in the results.  And, all users who joined the site in January 2019 should be included (even if they have never posted a question or provided an answer).

The query from the previous question should be a nice starting point to answering this question!  You'll need to use the `posts_answers` and `posts_questions` tables.  You'll also need to use the `users` table from the Stack Overflow dataset.  The relevant columns from the `users` table are `id` (the ID of each user) and `creation_date` (when the user joined the Stack Overflow site, in DATETIME format).

In [12]:
table_ref = dataset_ref.table('users')

In [13]:
table = client.get_table(table_ref)

In [14]:
users = client.list_rows(table, max_results=5).to_dataframe()

In [23]:
# Your code here
three_tables_query = """
                SELECT u.id AS id,
                MIN(q.creation_date) AS q_creation_date,
                MIN(a.creation_date) AS a_creation_date
                FROM `bigquery-public-data.stackoverflow.users` AS u
                LEFT JOIN `bigquery-public-data.stackoverflow.posts_answers` AS a
                ON u.id = a.owner_user_id
                LEFT JOIN `bigquery-public-data.stackoverflow.posts_questions` AS q
                ON u.id = q.owner_user_id
                WHERE u.creation_date >= '2019-01-01' AND u.creation_date < '2019-02-01'
                GROUP BY u.id
                """
three_tables_result = client.query(three_tables_query).result().to_dataframe()
three_tables_result

,id,q_creation_date,a_creation_date
0,10862228,2019-01-03 11:52:12.677000+00:00,2019-01-12 03:58:49.820000+00:00
1,10896006,2019-01-10 15:18:51.640000+00:00,NaT
2,10861709,NaT,NaT
3,10854578,NaT,NaT
4,10959636,NaT,NaT
...,...,...,...
141701,10971919,NaT,NaT
141702,10983194,2019-02-12 15:21:32.907000+00:00,NaT
141703,10912030,2019-01-14 13:50:19.193000+00:00,NaT
141704,10864237,2021-04-14 21:24:58.710000+00:00,NaT
141705,10985390,2019-03-12 18:38:46.700000+00:00,2019-07-16 00:31:50.100000+00:00

In [29]:
no_q_a_df = three_tables_result[(three_tables_result['q_creation_date'].isna())&(three_tables_result['a_creation_date'].notna())]
q_no_a_df = three_tables_result[(three_tables_result['q_creation_date'].notna())&(three_tables_result['a_creation_date'].isna())]
no_q_no_a_df = three_tables_result[(three_tables_result['q_creation_date'].isna())&(three_tables_result['a_creation_date'].isna())]
q_a_df = three_tables_result[(three_tables_result['q_creation_date'].notna())&(three_tables_result['a_creation_date'].notna())]

In [33]:
print("For users who created Stack Overflow accounts in January 2019:")
print(f"There are {no_q_a_df.shape[0]} users NOT posted questions but posted answers")
print(f"There are {q_no_a_df.shape[0]} users posted questions but NOT posted answers")
print(f"There are {no_q_no_a_df.shape[0]} users NOT posted questions and NOT posted answers")
print(f"There are {q_a_df.shape[0]} users posted questions and answers")

For users who created Stack Overflow accounts in January 2019:
There are 7795 users NOT posted questions but posted answers
There are 21632 users posted questions but NOT posted answers
There are 103431 users NOT posted questions and NOT posted answers
There are 8848 users posted questions and answers

### 4) How many distinct users posted on January 1, 2019?

In the code cell below, write a query that returns a table with a single column:
- `owner_user_id` - the IDs of all users who posted at least one question or answer on January 1, 2019.  Each user ID should appear at most once.

In the `posts_questions` (and `posts_answers`) tables, you can get the ID of the original poster from the `owner_user_id` column.  Likewise, the date of the original posting can be found in the `creation_date` column.  

In order for your answer to be marked correct, your query must use a **UNION**.

In [34]:
# Your code here
all_users_query = """
                  SELECT a.owner_user_id AS owner_user_id
                  FROM `bigquery-public-data.stackoverflow.posts_answers` AS a
                  WHERE EXTRACT(DATE FROM a.creation_date)='2019-01-01'
                  UNION DISTINCT 
                  SELECT q.owner_user_id
                  FROM `bigquery-public-data.stackoverflow.posts_questions` AS q
                  WHERE EXTRACT(DATE FROM q.creation_date)='2019-01-01'
                  """
### NOTE here must use EXTRACT(DATE FROM a.creation_date)='2019-01-01' 
### or you can use a.creation_date >='2019-01-01 AND a.creation_date < '2019-01-02
all_users_result = client.query(all_users_query).result().to_dataframe()
all_users_result

      owner_user_id
0           6767417
1            579856
2           9947723
3           9694487
4          10632037
...             ...
4347        6401437
4348        1818279
4349        2160144
4350        5980430
4351        3512189

[4352 rows x 1 columns]

In [36]:
print(f"There are {all_users_result.shape[0]} users posted on January 01 2019.")

There are 4352 users posted on January 01 2019.

# Keep going

Learn how to use **[analytic functions](https://www.kaggle.com/alexisbcook/analytic-functions)** to perform complex calculations with minimal SQL code.

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/advanced-sql/discussion) to chat with other learners.*